<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>JabatanViewServlet</servlet-name>
        <servlet-class>servlets.JabatanViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JabatanServlet</servlet-name>
        <servlet-class>servlets.JabatanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditJabatanServlet</servlet-name>
        <servlet-class>servlets.EditJabatanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailJabatan</servlet-name>
        <servlet-class>servlets.DetailJabatan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddJabatanServlet</servlet-name>
        <servlet-class>servlets.AddJabatanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidationServlet</servlet-name>
        <servlet-class>servlets.ValidationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TambahKaryawanServlet</servlet-name>
        <servlet-class>servlets.TambahKaryawanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailKaryawanServlet</servlet-name>
        <servlet-class>servlets.DetailKaryawanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KaryawanServlet</servlet-name>
        <servlet-class>servlets.KaryawanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditKaryawanServlet</servlet-name>
        <servlet-class>servlets.EditKaryawanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DtcutiKhususServlet</servlet-name>
        <servlet-class>servlets.DtcutiKhususServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DtcutiServlet</servlet-name>
        <servlet-class>servlets.DtcutiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDtcutiKhususServlet</servlet-name>
        <servlet-class>servlets.EditDtcutiKhususServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDtcutiServlet</servlet-name>
        <servlet-class>servlets.EditDtcutiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JabatanViewServlet</servlet-name>
        <url-pattern>/jabatanViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JabatanServlet</servlet-name>
        <url-pattern>/jabatanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditJabatanServlet</servlet-name>
        <url-pattern>/editJabatanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailJabatan</servlet-name>
        <url-pattern>/detailJabatan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddJabatanServlet</servlet-name>
        <url-pattern>/addJabatanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidationServlet</servlet-name>
        <url-pattern>/validationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TambahKaryawanServlet</servlet-name>
        <url-pattern>/tambahKaryawanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailKaryawanServlet</servlet-name>
        <url-pattern>/detailKaryawanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KaryawanServlet</servlet-name>
        <url-pattern>/karyawanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditKaryawanServlet</servlet-name>
        <url-pattern>/editKaryawanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DtcutiKhususServlet</servlet-name>
        <url-pattern>/dtcutiKhususServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DtcutiServlet</servlet-name>
        <url-pattern>/dtcutiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDtcutiKhususServlet</servlet-name>
        <url-pattern>/editDtcutiKhususServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDtcutiServlet</servlet-name>
        <url-pattern>/editDtcutiServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>views/login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
