<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>JabatanViewServlet</servlet-name>
        <servlet-class>servlets.JabatanViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JabatanServlet</servlet-name>
        <servlet-class>servlets.JabatanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditJabatanServlet</servlet-name>
        <servlet-class>servlets.EditJabatanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailJabatan</servlet-name>
        <servlet-class>servlets.DetailJabatan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JabatanViewServlet</servlet-name>
        <url-pattern>/jabatanViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JabatanServlet</servlet-name>
        <url-pattern>/jabatanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditJabatanServlet</servlet-name>
        <url-pattern>/editJabatanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailJabatan</servlet-name>
        <url-pattern>/detailJabatan</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
